<div class="container">
  <div class="row">
    <div class="col">
     <%= attachment_image_tag @trainer, :trainer_image, size: "150x150", class:"attachment trainer trainer_image fallback" %>
     <p><%= @trainer.trainer_name %></p>
     <p><%= @trainer.trainer_introduction %></p>


    </div>
  </div>
</div>
<%= render 'customer/training_menus/index', menus:@training_menus %>