<thead>
        <tr>
          <th>トレーニング名</th>
          <th>カテゴリ</th>
          <th>トレーニング説明</th>
        </tr>
      </thead>
      <tbody>
        <% menus.each do |training_menu| %>
        <tr>
          <td><%= link_to training_menu.training_name, '/customer/trainers/'+"#{training_menu.trainer_id}"+'/training_menus/'+"#{training_menu.id}" %></td>
          <td><%= training_menu.category %></td>
　　　　　<td><%= training_menu.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>