<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <div class="main">
          <div class="my-4">
            <p><span> Welocom! </span><br />
               好きなトレーナーを見つけて、<br />
               理想の自分に近付こう！<br />
            </p>
          </div>
          <h2>オススメトレーナー</h2>
        </div>
      </table>
    </div>
  </div>
</div>