<div class="container">
  <div class="row">
    <div class="col">

      <h3>チャット一覧</h3>
      <% @trainers.each do |trainer| %>
       <%= trainer.trainer_name %>
       <%= link_to "チャット", customer_room_path(trainer) %>
      <% end %>
    </div>
  </div>
</div>