<div class="container">
  <div class="row">
    <div class="col">
      <div id="box">
        <div id="images">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
        </div>
      </div><br />
      <div class="text-center">
          ダイエット、ボディメイク、健康的な生活を送りたい方！<br />
          好きなトレーニングを選んで運動しませんか？<br />
          日常の中に取り入れて、理想の自分に近付きましょう。
      </div><br />
      <div class="row">
       <div class="col-md-6">
        <div class="text-left">
          <tr>
            <td>初めての方はこちら</td><br />
            <div class="btn-border"><%= link_to "新規登録", new_customer_registration_path %></div>
          </tr>
        </div>
       </div>
       <div class="col-md-6">
        <div class="text-right">
          <tr>
            <td>登録済みの方はこちら</td><br />
            <div class="btn-border"><%= link_to "ログイン", new_customer_session_path %></div>
          </tr>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'skippr.js' %>