<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
          ダイエット、ボディメイク、健康的な生活を送りたい方！<br />
          好きなトレーニングを選んで運動しませんか？<br />
          日常の中に取り入れて、理想の自分に近付ましょう。
      </div><br />
      <div class="row">
       <div class="col-md-6">
        <div class="text-left">
          <tr>
            <td>初めての方</td><br />
            <td><%= link_to "新規登録", new_customer_registration_path %></td>
          </tr>
        </div>
       </div>
       <div class="col-md-6">
        <div class="text-right">
          <tr>
            <td>登録済みの方</td><br />
            <td><%= link_to "ログイン", new_customer_session_path %></td>
          </tr>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>