<div class="main-container">
  <div class="text-comment">
   <h2>BODYTOTE</h2><br />

     <p>ボディトレとは、日常生活に運動を取り入れることで、健康的な生活を送りたい。<br />
        運動不足など解消したい方に向けてトレーニングの情報サイトです。<br />
        トレーニングを実施する際は、会員登録が必要となります。
     </p>
        </div>
        <div class="row">
        <div class="col-6 text-center">
        <div class="trainer-text">
          <p><%= link_to "トレーナーの方はこちら", homes_trainer_top_path %></p>
        </div>
        </div>
        <div class="col-6 text-center">
            <div class="customer-text">
          <p><%= link_to "会員の方はこちら", homes_customer_top_path %></p>
          </div>
        </div>
  </div>
</div>
