<table class="table table-list">
  <thead>
    <tr>
      <th>トレーニング種目</th>
      <th>トレーニング詳細説明</th>
      <th>トレーニング画像</th>
      <th>
      </th>
    </tr>
  </thead>
   <tbody>
<tr class="nested-fields">
  <td>
     <%= ff.text_field :training_name %>
  </td>
  <td>
     <%= ff.text_field :training_description %>
  </td>
  <td>
     <%= ff.attachment_field :training_image %>
  </td>
  <%= ff.hidden_field :training_status, {value: "未着手"} %>
</tr>
</tbody>
</table>

