<tr class="nested-fields">
  <td>
     <%= f.text_field :training_name %>
  </td>
  <td>
     <%= f.text_field :training_description %>
  </td>
  <%= f.hidden_field :training_status, {value: "未着手"} %>
  <th></td>
  <td>
  <%= link_to_remove_association "", f, class: 'fas fa-trash-alt' %>
  </td>
</tr>
</tbody>