<div class="container">
  <div class="row">
    <div class="mt-5">
     <div class="col">
       <h3>トレーニングメニュー詳細</h3>

     </div>
      <div class="col">
       <table class="table">
        <thead>
          <tr>
            <td>トレーニング名</td>
            <td>カテゴリー</td>
            <td>トレーニング説明</td>
            <td></td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @training_menu.training_name %></td>
            <td><%= @training_menu.category %></td>
            <td><%= @training_menu.description %></td>
          </tr>
        </tbody>
       </table>
      </div>
      <%= link_to '編集', edit_trainer_training_menu_path %>

    </div>
  </div>
</div>