/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


@font-face {
  font-famliy: 'QuintUppercaseFont';
  src: font-url('/assets/QuintUppercaseFont.otf');
}


// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #f0fff0;
}



// header
header {
  background-image: image-url("header3.jpg");
}

.navbar {
  background-color: rgba(173, 216, 230, 0.7);
}

.header_logo {
  width: 150px;
  height: auto;
}

a {
  color: #808080;
}

// kaminari
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

// footer
footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 128, 128, 0.5);
  position: absolute;
}

.footer-text {
  line-height: 50px;
  color: #FFF;
  text-align: center;
}


