/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-famliy: 'QuintUppercaseFont';
  src: font-url('/assets/QuintUppercaseFont.otf');
}


// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #f0fff0;
}

//login
.form-wrapper {
  background: #f0fff0;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h2 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.field-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.field-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.field-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.action-item {
  margin: 2em 0 0;
  width: 100%;
}

.action-item .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}


// header
header {
  background-image: image-url("header3.jpg");
}

.navbar {
  background-color: rgba(173, 216, 230, 0.7);
}

.header_logo {
  width: 150px;
  height: auto;
}

a {
  color: #808080;
}

// kaminari
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

// footer
footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 128, 128, 0.5);
  position: absolute;
}

.footer-text {
  line-height: 50px;
  color: #FFF;
  text-align: center;
}


