/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


@font-face {
  font-famliy: 'QuintUppercaseFont';
  src: font-url('/assets/QuintUppercaseFont.otf');
}


// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-color: #f0fff0;
}



// header
header {
  background-image: image-url("header3.jpg");
}

.navbar {
  background-color: rgba(173, 216, 230, 0.7);
}

.header_logo {
  width: 150px;
  height: auto;
}

a {
  color: #808080;
}

// kaminari
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}


//butoom
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.bottom-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #a3d6cc;
  border: solid 2px #00947a;
  border-radius: 3px;
  transition: .4s;
}

.bottom-border:hover {
  background: #a3d6cc;
  color: white;
}


// footer
footer {
  position: absolute;
  bottom: 0 auto;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 128, 128, 0.5);
}

.footer-text {
  line-height: 50px;
  color: #FFF;
  text-align: center;
}

// 画像ポップアップ
.popup {
  background-color: #efefef;
  box-shadow: 0 0 0 999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70vw;
  height: 55vw;
  overflow-y: scroll;
}
/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}



/* 開くボタン */
.btn-open{
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content{
  margin: 40px auto 40px auto;
  width: 90%;
}