<div class="container">
  <div class="row">
    <div class="col">
      <h3>チャット一覧</h3>
      <% @customer.each do |customer| %>
       <div>
         <%= customer.customer_name %>
         <%= link_to "チャット", room_path(cuatomer) %>
       </div>
      <% end %>
    </div>
  </div>
</div>