<% if validation.errors.any? %>
 <div id="error_expranation", class="alert arert-danger", lole="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span area-hidden="true">&times;</span>
   </button>
   <ul>
     <% validation.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
 </div>
 <% end %>