<% flash.each do |color, message| %>
<div class="alert alert-<%= color %>" role="alert"><%= message %>
 <button type="button" class="close" date-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<% end %>